:root {
  --base00: #f8fbfc;
  --base01: #d0d0d0;
  --base02: #b7bcbe;
  --base03: #828282;
  --base04: #6a726d;
  --base05: #3f3f3f;
  --base06: #292929;
  --base07: #1e1e1e;
  --base08: #aa253a;
  --base09: #d83bd2;
  --base0A: #287bd9;
  --base0B: #22942c;
  --base0C: #1db28b;
  --base0D: #0f4f8c;
  --base0E: #d83bd2;
  --base0F: #292929;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: #1e1e1e;
    --base01: #292929;
    --base02: #3f3f3f;
    --base03: #6a726d;
    --base04: #828282;
    --base05: #b7bcbe;
    --base06: #d0d0d0;
    --base07: #eef2f8;
    --base08: #f09eb7;
    --base09: #d83bd2;
    --base0A: #59a8ff;
    --base0B: #fecc1b;
    --base0C: #54cfb7;
    --base0D: #59a8ff;
    --base0E: #e79fd7;
    --base0F: #b7bcbe;
  }
}

@media screen and (min-width: 1024px) {
  .markdown {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .markdown.has-toc {
    --w-content: 1024px;
    --w-toc: 18rem;
    --w-gap: 2rem;
    max-width: calc(var(--w-content) + var(--w-gap) + var(--w-toc));
  }
}

@media screen and (min-width: 1536px) {
  .markdown.has-toc {
    --w-toc: 24rem;
    --w-gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .markdown-title {
    max-width: 1024px;
  }
}

.md-toc-container {
  display: grid;
  grid-template: "toc" auto "main" auto/1fr;
}

@media screen and (min-width: 1280px) {
  .md-toc-container {
    grid-template: "main toc" 1fr / minmax(auto, var(--w-content)) calc(
        var(--w-toc) + 0.5rem
      );
  }
}

@media (min-width: 1280px) {
  .md-toc-nav {
    height: 100%;
    max-height: 100vh;
    position: sticky;
    top: 2.5rem;
  }
}

.md-toc-nav {
  --tw-text-opacity: 1;
  color: rgb(41 41 41 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-toc-nav {
    --tw-text-opacity: 1;
    color: rgb(208 208 208 / var(--tw-text-opacity));
  }
}

.md-toc-nav {
  margin-bottom: 2rem;
}

@media (min-width: 1280px) {
  .md-toc-nav {
    margin-bottom: 0;
    padding-left: 2rem;
  }
}

.md-toc-nav {
  grid-area: toc;
}

.md-nav-item {
  --tw-translate-x: 0px;
  border-radius: 0.25rem;
  color: inherit;
  padding-left: 0.5rem;
  position: relative;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

a.md-nav-item {
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a.md-nav-item:hover {
  --tw-text-opacity: 1;
  color: rgb(57 146 255 / var(--tw-text-opacity));
}

.md-nav-item--level-1 {
  padding-left: 0;
}

.md-nav-item:before {
  background-color: transparent;
  border-radius: 0.25rem;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.md-nav-item--active {
  --tw-translate-x: -0.25rem;
  --tw-text-opacity: 1;
  color: rgb(57 146 255 / var(--tw-text-opacity));
  font-weight: 600;
  padding-left: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.md-nav-item--active:before {
  --tw-bg-opacity: 1;
  background-color: rgb(57 146 255 / var(--tw-bg-opacity));
  opacity: 0.1;
}

.md-nav-item--level-1,
.md-toc-title,
.toc > li > p > a {
  --tw-text-opacity: 1;
  color: rgb(41 41 41 / var(--tw-text-opacity));
  display: block;
  font-family: Founders Grotesk, Arial Black, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.025em;
  line-height: 24px;
  line-height: 1.125;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  .md-nav-item--level-1,
  .md-toc-title,
  .toc > li > p > a {
    --tw-text-opacity: 1;
    color: rgb(208 208 208 / var(--tw-text-opacity));
  }
}

.md-nav-item--level-1 code,
.md-toc-title code,
.toc > li > p > a code {
  font-size: 85%;
  transform: none;
}

.toc {
  --tw-border-opacity: 1;
  border-color: rgb(208 208 208 / var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-width: 1px;
  list-style-type: none;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 0.75rem 0;
}

@media (prefers-color-scheme: dark) {
  .toc {
    --tw-border-opacity: 1;
    border-color: rgb(106 114 109 / var(--tw-border-opacity));
  }
}

.toc > li > ul li li {
  display: none;
}

@media (min-width: 1280px) {
  .toc > li > ul li li {
    display: block;
  }
}

.toc > li > ul li li li {
  display: none;
}

.toc > li > ul > li ul {
  margin-left: 0.75rem;
}

@media (min-width: 768px) {
  .toc > li > ul > li ul {
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .toc > li > ul > li ul {
    margin-left: 0.75rem;
  }
}

@media (min-width: 1536px) {
  .toc > li > ul > li ul {
    margin-left: 1rem;
  }
}

.toc a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding: 0.25rem 1.25rem;
  position: relative;
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.toc a:hover {
  --tw-text-opacity: 1;
  color: rgb(57 146 255 / var(--tw-text-opacity));
}

@media (min-width: 1024px) {
  .toc a {
    font-size: 14px;
    line-height: 24px;
  }
}

.toc a:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 248 / var(--tw-bg-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  .toc a:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(18 18 18 / var(--tw-bg-opacity));
  }
}

.toc a:not(:hover) {
  color: inherit;
}

.toc a[data-active] {
  --tw-text-opacity: 1;
  color: rgb(57 146 255 / var(--tw-text-opacity));
}

.toc a[data-active]:before {
  --tw-bg-opacity: 1;
  --tw-content: "";
  background-color: rgb(57 146 255 / var(--tw-bg-opacity));
  content: var(--tw-content);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.25rem;
}

.toc code {
  background: inherit;
  font-size: 90%;
  line-height: inherit;
  padding: 0;
}

.md-prose {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --tw-text-opacity: 1;
  color: rgb(41 41 41 / var(--tw-text-opacity));
  flex: 1 1 auto;
  font-size: 16px;
  grid-area: main;
  line-height: 24px;
  line-height: 1.5;
  min-width: 0;
  overflow-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
  .md-prose {
    --tw-text-opacity: 1;
    color: rgb(183 188 190 / var(--tw-text-opacity));
  }
}

.md-prose > :first-child {
  margin-top: 0;
}

.md-prose > :last-child {
  margin-bottom: 0;
}

.md-prose p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.md-prose strong {
  font-weight: 600;
}

.md-prose .icon {
  fill: currentColor;
  display: inline-block;
  vertical-align: text-bottom;
}

.md-prose ol {
  list-style-type: decimal;
}

.md-prose ul {
  list-style-type: disc;
}

.md-prose ol,
.md-prose ul {
  margin-bottom: 1rem;
  margin-top: 0;
  padding-left: 2rem;
}

.md-prose ol ol,
.md-prose ul ol {
  list-style-type: lower-roman;
}

.md-prose ol ul,
.md-prose ul ul {
  list-style-type: circle;
}

.md-prose ol ol ol,
.md-prose ol ul ol,
.md-prose ul ol ol,
.md-prose ul ul ol {
  list-style-type: lower-alpha;
}

.md-prose ol ol ul,
.md-prose ol ul ul,
.md-prose ul ol ul,
.md-prose ul ul ul {
  list-style-type: square;
}

.md-prose dd {
  margin-left: 0;
}

.md-prose ol ol,
.md-prose ol ul,
.md-prose ul ol,
.md-prose ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.md-prose li {
  word-wrap: break-all;
}

.md-prose li > p {
  margin: 0;
}

.md-prose li > p + p {
  margin-top: 1rem;
}

.md-prose li + li {
  margin-top: 0.25rem;
}

.md-prose dl {
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
}

.md-prose dl dt {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
  margin-top: 1rem;
  padding: 0;
}

.md-prose dl dd {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.md-prose a {
  --tw-text-opacity: 1;
  color: rgb(57 146 255 / var(--tw-text-opacity));
  text-decoration-line: none;
}

.md-prose a:hover {
  text-decoration-line: underline;
}

.md-prose a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) {
  margin: 2rem 0 1rem;
}

.md-prose :is(h1, h2) {
  font-family: Founders Grotesk, Arial Black, sans-serif;
}

.md-prose h1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .md-prose h1 {
    font-size: 64px;
    line-height: 72px;
  }
}

.md-prose h2 {
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .md-prose h2 {
    font-size: 45px;
    line-height: 48px;
  }
}

.md-prose h3 {
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .md-prose h3 {
    font-size: 30px;
    line-height: 32px;
  }
}

.md-prose h4,
.md-prose h5,
.md-prose h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

@media (min-width: 768px) {
  .md-prose h4,
  .md-prose h5,
  .md-prose h6 {
    font-size: 20px;
    line-height: 32px;
  }
}

.md-prose :is(h1, h2, h3, h4, h5, h6) {
  scroll-snap-margin-top: 1em;
  position: relative;
  scroll-margin-top: 1em;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a {
  align-items: center;
  display: flex;
  height: 100%;
  left: -1.5rem;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.md-prose :is(h1, h2, h3, h4, h5, h6):hover a,
.md-prose :is(h1, h2, h3, h4, h5, h6) a:hover {
  text-decoration-line: none;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) .icon-link {
  --tw-text-opacity: 1;
  align-items: center;
  color: rgb(57 146 255 / var(--tw-text-opacity));
  display: flex;
  height: 100%;
  vertical-align: middle;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) a .icon-link:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='gray' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'/%3E%3C/svg%3E");
  content: " ";
  display: inline-block;
  height: 1rem;
  visibility: hidden;
  width: 1rem;
}

.md-prose :is(h1, h2, h3, h4, h5, h6):hover a .icon-link,
.md-prose :is(h1, h2, h3, h4, h5, h6):hover a .icon-link:before,
.md-prose :is(h1, h2, h3, h4, h5, h6) a .icon-link:hover,
.md-prose :is(h1, h2, h3, h4, h5, h6) a .icon-link:hover:before,
.md-prose :is(h1, h2, h3, h4, h5, h6) a:hover .icon-link,
.md-prose :is(h1, h2, h3, h4, h5, h6) a:hover .icon-link:before {
  opacity: 1;
  visibility: visible;
}

.md-prose details {
  display: block;
  margin-bottom: 1rem;
  margin-top: 0;
}

.md-prose summary {
  cursor: pointer;
  display: list-item;
}

.md-prose details[open] summary {
  margin-bottom: 0.5rem;
}

.md-prose img {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-width: 0;
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  .md-prose img {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  }
}

.md-prose code,
.md-prose kbd,
.md-prose pre {
  word-wrap: normal;
  --tw-border-opacity: 1;
  border-color: rgb(238 242 248 / var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-width: 1px;
  font-size: 14px;
  line-height: 24px;
  line-height: 1;
  overflow: auto;
  padding: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  .md-prose code,
  .md-prose kbd,
  .md-prose pre {
    --tw-border-opacity: 1;
    border-color: rgb(18 18 18 / var(--tw-border-opacity));
  }
}

@media (min-width: 768px) {
  .md-prose code,
  .md-prose kbd,
  .md-prose pre {
    padding: 1rem;
  }
}

.md-prose pre {
  background-color: var(--base00);
  line-height: 1.625;
  margin-bottom: 1rem;
  margin-top: 0;
}

.md-prose code,
.md-prose kbd {
  --tw-text-opacity: 1;
  color: rgb(41 41 41 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose code,
  .md-prose kbd {
    --tw-text-opacity: 1;
    color: rgb(183 188 190 / var(--tw-text-opacity));
  }
}

.md-prose kbd {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 248 / var(--tw-bg-opacity));
  border-color: rgb(208 208 208 / var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  display: inline-block;
  font-family: Source Code Pro, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
  line-height: 10px;
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
  .md-prose kbd {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(18 18 18 / var(--tw-bg-opacity));
    border-color: rgb(30 30 30 / var(--tw-border-opacity));
  }
}

.md-prose kbd {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.md-prose pre > code {
  background-color: transparent;
  border-width: 0;
  margin: 0;
  overflow-wrap: normal;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.md-prose .codeblock-line {
  display: block;
  padding-right: 1rem;
  position: relative;
}

.md-prose code {
  --tw-bg-opacity: 1;
  background-color: rgb(248 251 252 / var(--tw-bg-opacity));
  border-radius: 0.25rem;
  color: inherit;
  padding: 2px 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .md-prose code {
    --tw-bg-opacity: 1;
    background-color: rgb(30 30 30 / var(--tw-bg-opacity));
  }
}

.md-prose :is(a, h1, h2, h3, h4, h5, h6) code,
.md-prose :is(a, h1, h2, h3, h4, h5, h6) kbd {
  color: inherit;
}

.md-prose :is(h1, h2, h3, h4, h5, h6) code {
  font-size: 90%;
  padding: max(0.125rem, 0.125em) max(0.25rem, 0.25em);
}

.md-prose pre code {
  word-wrap: normal;
  background-color: initial;
  border: 0;
  border-radius: initial;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
}

.md-prose
  pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"]) {
  padding-left: 0;
  padding-right: 0;
}

.md-prose
  pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"])
  [data-line-number]:before {
  --tw-text-opacity: 1;
  color: rgb(183 188 190 / var(--tw-text-opacity));
  content: attr(data-line-number);
  display: inline-block;
  margin-right: 1.5rem;
  padding-left: 0;
  text-align: right;
  width: 2rem;
}

@media (prefers-color-scheme: dark) {
  .md-prose
    pre[data-line-numbers="true"]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]:before {
    --tw-text-opacity: 1;
    color: rgb(63 63 63 / var(--tw-text-opacity));
  }
}

.md-prose pre[data-good] {
  --tw-border-opacity: 1;
  border-color: rgb(27 97 27 / var(--tw-border-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose pre[data-good] {
    --tw-border-opacity: 1;
    border-color: rgb(51 173 78 / var(--tw-border-opacity));
  }
}

.md-prose
  pre[data-line-numbers="true"][data-good]:not([data-lang="bash"], [data-lang="sh"])
  [data-line-number]:before {
  --tw-text-opacity: 1;
  color: rgb(27 97 27 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose
    pre[data-line-numbers="true"][data-good]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]:before {
    --tw-text-opacity: 1;
    color: rgb(51 173 78 / var(--tw-text-opacity));
  }
}

.md-prose pre[data-bad] {
  --tw-border-opacity: 1;
  border-color: rgb(170 37 58 / var(--tw-border-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose pre[data-bad] {
    --tw-border-opacity: 1;
    border-color: rgb(238 110 144 / var(--tw-border-opacity));
  }
}

.md-prose
  pre[data-line-numbers="true"][data-bad]:not([data-lang="bash"], [data-lang="sh"])
  [data-line-number]:before {
  --tw-text-opacity: 1;
  color: rgb(170 37 58 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose
    pre[data-line-numbers="true"][data-bad]:not([data-lang="bash"], [data-lang="sh"])
    [data-line-number]:before {
    --tw-text-opacity: 1;
    color: rgb(238 110 144 / var(--tw-text-opacity));
  }
}

.md-prose pre[data-filename]:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='16' height='16' viewBox='0 0 24 24' stroke='%23aaa'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12h6m-6 4h6m2 5H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5.586a1 1 0 0 1 .707.293l5.414 5.414a1 1 0 0 1 .293.707V19a2 2 0 0 1-2 2z'/%3E%3C/svg%3E");
  background-position: 0 3px;
  background-repeat: no-repeat;
  content: attr(data-filename);
  display: block;
  margin-left: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
}

.md-prose pre:not([data-nocopy])[data-lang] {
  position: relative;
}

.md-prose pre:not([data-nocopy])[data-lang]:after {
  --tw-text-opacity: 1;
  color: rgb(41 41 41 / var(--tw-text-opacity));
  cursor: pointer;
  display: none;
  height: 0.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .md-prose pre:not([data-nocopy])[data-lang]:after {
    --tw-text-opacity: 1;
    color: rgb(183 188 190 / var(--tw-text-opacity));
  }
}

.md-prose pre:not([data-nocopy])[data-lang]:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='24' height='24' fill='%23aaa'%3E%3Cpath d='M22.6 4h-1.05a3.89 3.89 0 0 0-7.31 0h-.84A2.41 2.41 0 0 0 11 6.4V10h14V6.4A2.41 2.41 0 0 0 22.6 4Zm.4 4H13V6.25a.25.25 0 0 1 .25-.25h2.69l.12-1.11a1.24 1.24 0 0 1 .55-.89 2 2 0 0 1 3.15 1.18l.09.84h2.9a.25.25 0 0 1 .25.25ZM33.25 18.06H21.33l2.84-2.83a1 1 0 1 0-1.42-1.42l-5.25 5.25 5.25 5.25a1 1 0 0 0 .71.29 1 1 0 0 0 .71-1.7l-2.84-2.84h11.92a1 1 0 0 0 0-2Z'/%3E%3Cpath d='M29 16h2V6.68A1.66 1.66 0 0 0 29.35 5h-2.27v2H29ZM29 31H7V7h2V5H6.64A1.66 1.66 0 0 0 5 6.67v24.65A1.66 1.66 0 0 0 6.65 33h22.71A1.66 1.66 0 0 0 31 31.33v-9.27h-2Z'/%3E%3C/svg%3E");
  content: " ";
  height: 24px;
  width: 24px;
}

.md-prose pre:not([data-nocopy])[data-copied][data-lang]:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='24' height='24' stroke='%23aaa'%3E%3Cpath d='M21 6.285 9.84 19.018 3 13l1.319-1.49 5.341 4.686L19.525 5 21 6.285z'/%3E%3C/svg%3E");
  display: block;
}

.md-prose pre:hover:not([data-nocopy])[data-lang]:after {
  display: block;
}

.md-prose .codeblock-line[data-highlight="true"]:after {
  --tw-bg-opacity: 1;
  background-color: rgb(51 173 78 / var(--tw-bg-opacity));
  content: " ";
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .md-prose .codeblock-line[data-highlight="true"]:after {
    --tw-bg-opacity: 1;
    background-color: rgb(107 217 104 / var(--tw-bg-opacity));
    opacity: 0.2;
  }
}

.md-prose pre[data-good] .codeblock-line[data-highlight="true"]:after {
  --tw-bg-opacity: 1;
  background-color: rgb(27 97 27 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose pre[data-good] .codeblock-line[data-highlight="true"]:after {
    --tw-bg-opacity: 1;
    background-color: rgb(51 173 78 / var(--tw-bg-opacity));
  }
}

.md-prose pre[data-bad] .codeblock-line[data-highlight="true"]:after {
  --tw-bg-opacity: 1;
  background-color: rgb(170 37 58 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose pre[data-bad] .codeblock-line[data-highlight="true"]:after {
    --tw-bg-opacity: 1;
    background-color: rgb(238 110 144 / var(--tw-bg-opacity));
  }
}

.md-prose table {
  border-collapse: collapse;
  border-color: inherit;
  border-spacing: 0;
  display: block;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  max-width: 100%;
  overflow: auto;
  text-align: left;
  text-indent: 0;
  width: 100%;
}

.md-prose table th {
  --tw-text-opacity: 1;
  background-color: transparent;
  color: rgb(41 41 41 / var(--tw-text-opacity));
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  position: sticky;
  top: 0;
}

@media (prefers-color-scheme: dark) {
  .md-prose table th {
    --tw-text-opacity: 1;
    color: rgb(183 188 190 / var(--tw-text-opacity));
  }
}

.md-prose table th {
  --tw-border-opacity: 1;
  border-color: rgb(208 208 208 / var(--tw-border-opacity));
  border-width: 0 0 1px;
  padding: 0 1rem 0.25rem 0;
}

@media (prefers-color-scheme: dark) {
  .md-prose table th {
    --tw-border-opacity: 1;
    border-color: rgb(30 30 30 / var(--tw-border-opacity));
  }
}

@media (min-width: 768px) {
  .md-prose table th {
    padding-right: 1.5rem;
  }
}

.md-prose table tbody {
  vertical-align: baseline;
}

.md-prose table td {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  border-color: rgb(238 242 248 / var(--tw-border-opacity));
  border-width: 0 0 1px;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  font-size: 14px;
  line-height: 24px;
  padding: 0.5rem 1rem 0.5rem 0;
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  .md-prose table td {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}

@media (min-width: 768px) {
  .md-prose table td {
    padding-right: 1.5rem;
  }
}

.md-prose docs-error,
.md-prose docs-info,
.md-prose docs-success,
.md-prose docs-warning {
  border-color: currentColor;
  border-left-width: 2px;
  border-radius: 0.5rem;
  border-right-width: 2px;
  display: block;
  margin-bottom: 0.75rem;
  margin-top: 0;
  padding: 0.5rem 1rem;
  position: relative;
}

.md-prose docs-error:before,
.md-prose docs-info:before,
.md-prose docs-success:before,
.md-prose docs-warning:before {
  --tw-content: "";
  bottom: 0;
  content: var(--tw-content);
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.md-prose docs-warning {
  --tw-text-opacity: 1;
  color: rgb(39 31 6 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose docs-warning {
    --tw-text-opacity: 1;
    color: rgb(248 239 159 / var(--tw-text-opacity));
  }
}

.md-prose docs-warning:before {
  --tw-bg-opacity: 1;
  background-color: rgb(131 122 11 / var(--tw-bg-opacity));
  opacity: 0.15;
}

.md-prose docs-info {
  --tw-text-opacity: 1;
  color: rgb(57 146 255 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose docs-info {
    --tw-text-opacity: 1;
    color: rgb(89 168 255 / var(--tw-text-opacity));
  }
}

.md-prose docs-info:before {
  --tw-bg-opacity: 1;
  background-color: rgb(57 146 255 / var(--tw-bg-opacity));
}

.md-prose docs-error {
  --tw-text-opacity: 1;
  color: rgb(170 37 58 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose docs-error {
    --tw-text-opacity: 1;
    color: rgb(240 158 183 / var(--tw-text-opacity));
  }
}

.md-prose docs-error:before {
  --tw-bg-opacity: 1;
  background-color: rgb(170 37 58 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose docs-error:before {
    --tw-bg-opacity: 1;
    background-color: rgb(240 158 183 / var(--tw-bg-opacity));
  }
}

.md-prose docs-success {
  --tw-text-opacity: 1;
  color: rgb(30 126 31 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .md-prose docs-success {
    --tw-text-opacity: 1;
    color: rgb(107 217 104 / var(--tw-text-opacity));
  }
}

.md-prose docs-success:before {
  --tw-bg-opacity: 1;
  background-color: rgb(107 217 104 / var(--tw-bg-opacity));
}

.md-prose docs-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .md-prose docs-cards {
    display: grid;
  }
}

.md-prose docs-cards > a {
  border-radius: 0.25rem;
  color: unset;
  display: block;
}

.md-prose docs-cards > a:hover {
  text-decoration: unset;
}

.md-prose docs-card {
  --tw-border-opacity: 1;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  border-color: rgb(208 208 208 / var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  display: block;
  height: 100%;
  padding: 1.5rem;
  transition-duration: 0.15s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .md-prose docs-card {
    --tw-border-opacity: 1;
    border-color: rgb(30 30 30 / var(--tw-border-opacity));
  }
}

.md-prose docs-card > :first-child {
  margin-top: 0;
}

.md-prose docs-card > :last-child {
  margin-bottom: 0;
}

.md-prose a:hover docs-card {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.md-prose blockquote {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  border-color: rgb(208 208 208 / var(--tw-border-opacity));
  border-left-width: 4px;
  color: rgb(63 63 63 / var(--tw-text-opacity));
  margin: 0 0 1rem;
  padding: 0 0 0 1rem;
}

@media (prefers-color-scheme: dark) {
  .md-prose blockquote {
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    border-color: rgb(30 30 30 / var(--tw-border-opacity));
    color: rgb(130 130 130 / var(--tw-text-opacity));
  }
}

.md-prose blockquote > :first-child {
  margin-top: 0;
}

.md-prose blockquote > :last-child {
  margin-bottom: 0;
}

.md-prose hr {
  --tw-bg-opacity: 1;
  background-color: rgb(208 208 208 / var(--tw-bg-opacity));
  border-width: 0;
  height: 1px;
  margin: 1.5rem 0;
  overflow: visible;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  .md-prose hr {
    --tw-bg-opacity: 1;
    background-color: rgb(30 30 30 / var(--tw-bg-opacity));
  }
}
